<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vif</title>
    <script src="assets/scripts/vue.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
    </ul>
    <hr>
    <ul>
        <li v-for="person in persons">
            <span v-for="value in person">{{ value }} </span>
        </li>
    </ul>
</div>

<!--    Vue Script starts here-->
<script>
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {name: 'Max', age:27, color:'red'},
                {name: 'Anna', age:'unknown', color:'blue'}
            ]
        }
    });
</script>
</body>
</html>